<main>
    <ng-container *ngIf="( article$ | async ) as article">
        <article class="view-article__article">
            <h1>{{article.title}}</h1>
            <div class="view-article__article__content-header__author">
                <mat-icon class="view-article__article__content-header__author__icon">face</mat-icon>
                <div class="view-article__article__content-header__author__info">
                    <div class="view-article__article__content-header__author__info__name">{{article.author}}</div>
                    <span class="view-article__article__content-header__info__time">{{article.createTime | date}}</span>
                </div>
            </div>
            <div class="view-article__article__body">{{article.contents}}</div>
        </article>
    </ng-container>

    <a routerLink="../.." class="view-article__back">
        <mat-icon class="view-article__back__icon">navigate_before</mat-icon>一覧に戻る
    </a>
</main>