<mat-card routerLink="/view/{{article.id}}" class="article-card">
    <mat-card-header>
        <div mat-card-avatar>
            <mat-icon class="article-card__header__avatar">face</mat-icon>
        </div>
            <mat-card-title>{{article.title}}</mat-card-title>
            <mat-card-subtitle>
                <span>{{article.author}}</span>・<span>{{article.createTime | date}}</span>
            </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <p>{{article.contents}}</p>
    </mat-card-content>
</mat-card>