main {
    width: 620px;
    margin: auto;
}

.admin-view__back {
    &__icon {
        vertical-align: middle;
    }
    text-decoration: none;
}

.admin-view__article {
    margin-bottom: 2rem;

    &__content-header__author {
        display: flex;
        align-items: center;
        margin-bottom: 2rem;

        &__icon {
            margin-right: 8px;
        }

        &__info {
            font-size: 12px;
            &__time {
                color: gray;
            }
        }
    }

    &__body {
        white-space: pre-line;
    }
}

.admin-view__allow-publishment {
    margin-top: 1rem;
    margin-bottom: 2rem;
    padding: 1rem;
    background-color: whitesmoke;

    &__title {
        margin-bottom: 1rem;
        font-size: 12px;
        font-weight: bold;
    }

    &__body {
        background-color: white;
        padding: 1.5rem 1rem;
        display: flex;
        justify-content: center;
    }
}
