<form [formGroup]="form" (ngSubmit)="submit()">
    <div>
        <mat-form-field>
            <mat-label>タイトル</mat-label>
            <input matInput type="text" [formControl]="titleForm" />
        </mat-form-field>
    </div>
    <div>
        <mat-form-field>
            <mat-label>本文</mat-label>
            <textarea matInput [formControl]="contentsForm"></textarea>
        </mat-form-field>
    </div>
    
    <button type="submit" mat-flat-button color="primary">申請</button>
    <button type="button" mat-stroked-button (click)="save()">保存</button>
    <button type="button" mat-stroked-button (click)="cancel()">キャンセル</button>
</form>